<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.outzone.mapper.DirectoryMapper">

    <select id="getAllSubDir" resultType="com.outzone.pojo.DirectoryDTO">
        <bind name="path" value="nowPath+'%'"/>
        SELECT directory.directoryId,directory.parentDirectoryId,
            directory.ownerId,directory.name,directory.absolutePath,
            directory.isGroupDirectory
        FROM directory WHERE (directory.absolutePath  LIKE #{path}  AND directory.ownerId = #{ownerId} AND directory.isGroupDirectory = #{isGroup});
    </select>

    <delete id="delAllSubDir">
        <bind name="path" value="nowPath+'%'"/>
        DELETE FROM directory
        WHERE directory.directoryId IN
        (SELECT directory.directoryId FROM directory WHERE (directory.absolutePath  LIKE #{path}  AND directory.ownerId = #{ownerId} AND directory.isGroupDirectory = #{isGroup}));
    </delete>

    <select id="getDirList" resultMap="content">
        SELECT
            directory.name,directory.directoryId,
            directory.parentDirectoryId,directory.isGroupDirectory,
            directory.absolutePath
        FROM directory
        where  directory.parentDirectoryId = (select directory.directoryId from directory where (directory.absolutePath = #{parentDirectory} AND directory.ownerId = #{ownerId} AND directory.isGroupDirectory = #{isGroup}));
    </select>
    <select id="getDirListById" resultMap="content">
        SELECT
            directory.name,directory.directoryId,
            directory.parentDirectoryId,directory.isGroupDirectory,
            directory.absolutePath
        FROM directory
        where  directory.directoryId IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=", ">
            #{id}
        </foreach>
    </select>
    <select id="searchDirByName" resultMap="content">
        <bind name="like" value="'%'+fileName+'%'"/>
        SELECT directory.directoryId,directory.parentDirectoryId,
        directory.ownerId,directory.name,directory.absolutePath,
        directory.isGroupDirectory
        FROM directory WHERE (directory.name  LIKE #{like})
        AND directory.ownerId = #{ownerId} AND directory.isGroupDirectory = #{isGroup};
    </select>

    <resultMap id="content" type="com.outzone.pojo.vo.ContentVO">
        <constructor>
            <idArg column="directoryId" javaType="long" />
            <arg column="name" javaType="String" />
            <arg column="parentDirectoryId" javaType="long" />
            <arg column="absolutePath" javaType="String" />
        </constructor>
    </resultMap>
</mapper>